<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Portal</title>
</head>
<body>

<div style="text-align:center">
    <h2 th:text="'HELLOOO BIG BOSS, ' + ${name} + '!'" />
    <h2>Welcome</h2>
    <h2 th:text="'Your Role is: ' + ${role} + '!'" />
    <h2>This is a web App Created for the 4806 Project</h2>
</div>
<form action="#" th:action="@{/LogOut}" method="post">
    <button type="submit" class="float">Log out</button>
</form>
<form action="#" th:action="@{/view_users}" method="post">
    <button type="submit" class="float">View list of Users</button>
</form>


</body>
</html>