<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Portal - Home</title>
    <link th:rel="stylesheet" th:href="@{css/bootstrap.css} "/>
</head>
<style>
    h2{
        padding-top: 30px;
    }
    h4{
        padding-top: 20px;
    }
    #constraints{
        padding-top: 50px;
    }
    body {
        background-color: lightblue;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Admin Portal - Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="https://demo4806.herokuapp.com/admin_portal" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://demo4806.herokuapp.com/view_users" >User Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://demo4806.herokuapp.com" >Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body>

<div style="text-align:center">
    <h2 th:text="'Welcome to the Admin Portal!'"></h2>
    <h4 th:text="'Summary'"></h4>
    <p th:text="'Total number of Users: '+${total_users}+''"> </p>
    <p th:text="'Number of Paid-Users: '+${paid_users}+''"> </p>
    <p th:text="'Number of Free-Users: '+${free_users}+''"></p>
    <p th:text="'Number of Admins: '+${admin_users}+''"></p>
    <h4 id="constraints" th:text="'Constraints'"></h4>
    <p th:text="'Current Constraint Limit for Free Users: 1000'"></p>



<!--    <form action="#" th:action="@{/LogOut}" method="post">-->
<!--        <button type="submit" class="float">Log out</button>-->
<!--    </form>-->
<!--    <form action="#" th:action="@{/view_users}" method="get">-->
<!--        <button type="submit" class="float">View list of Users</button>-->
<!--    </form>-->
</div>

</body>
</html>