<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../css/LoginStyle.css" rel="stylesheet">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<body class="img js-fullheight" style="background-image:url(../Images/register.jpg)">
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Register</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Password must contain:</h3>
                    <h3 class="mb-4 text-center">At least 6 Characters</h3>
                    <h3 class="mb-4 text-center">At least 1 Number</h3>
                    <h3 class="mb-4 text-center">At least 1 Special Character</h3>
                    <form id="hello" action="#" th:action="@{/TempCreate}" method="post">
                        <input type="hidden" id="userHidden" th:name="user" th:placeholder="0">
                        <input type="hidden" id="passHidden" th:name="pass" th:placeholder="0">
                        <input type="hidden" id="adminHidden" th:name="admin" th:placeholder="0">
                        <input type="hidden" id="idHidden" th:name="id" th:placeholder="0">

                        <div class="form-group">
                            <input id="username" type="text" class="form-control" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <input id="password" type="text" class="form-control" placeholder="Password" required>
                            <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                    </form>
                    <div class="form-group">
                        <button class="form-control btn btn-primary button px-3" onclick="myFunction()">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script type = "text/javascript" src="../Javascript/Register_Script.js"></script>
</html>