<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Compare Talent</title>
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>

<div style="text-align:center">
    <h1 th:text="'Hello, ' + ${name} + '!'"/>
    <h1>Welcome</h1>
    <h1 th:text="'Your Role is: ' + ${role} + '!'" />
    <h1>This is a web App Created for the 4806 Project</h1>
</div>

<form action="#" method="post" th:action="@{/LogOut}">
    <button class="float" type="submit">Log out</button>
</form>

<!-- TODO: change to upgrade (Upgrade method to be implemented)-->
<form action="#" method="post" th:action="@{/LogOut}">
    <button class="float" type="submit">Upgrade</button>
</form>

<!-- TODO: change to delete_account (Delete method to be implemented)-->
<form action="#" method="post" th:action="@{/LogOut}">
    <button class="button1" type="submit">Delete Account</button>
</form>

</body>
</html>