<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Compare Talent</title>
    <link href="../css/styles.css" rel="stylesheet">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<body>

<div style="text-align:center">
    <h1 th:text="'Hello, ' + ${name} + '!'"/>
    <h1>Welcome</h1>
    <h1 th:text="'Your Role is: ' + ${role} + '!'" />

    <h1>This is a web App Created for the 4806 Project</h1>

<!--    <h1 th:text="'You have clicked the CLICK ME button: ' + ${clicks} + ' times!'" />-->
</div>

<button onclick="clickAlert()" class="float" type="submit">CLICK ME</button>

<script>
    function clickAlert(){
        alert("you have clicked the button")
    }
</script>
<!-- TODO: change to upgrade (Upgrade method to be implemented)-->
<form id="upgradeForm" action="#" method="post" th:action="@{/Upgrade}">
    <button onclick="upgradeUserRole()">Upgrade</button>
</form>

<!-- TODO: change to delete_account (Delete method to be implemented)-->
<form action="#" method="post" th:action="@{/LogOut}">
    <button class="button1" type="submit">Delete Account</button>
</form>

<form action="#" method="post" th:action="@{/LogOut}">
    <button class="float" type="submit">Log out</button>
</form>

</body>
<script>
    function upgradeUserRole() {
        $.ajax({
            type: "PUT",
            url: "http://localhost:8080/rest/api/user/upgrade/" + document.getElementById("userId").value + "/" + "free_user",
            contentType : "application/json",
            dataType : 'json',
            success: function (data) {
                document.getElementById("upgradeForm").submit();
            },
            error: function (data) {
                alert("/upgrade failed somehow");
            }
        });
    }
</script>
</html>