<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Portal</title>
    <link href="../css/styles.css" rel="stylesheet">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<body class="img js-fullheight" style="background-image:url(../Images/user_portal.jpg)">

    <div style="text-align:center">
        <div class="container1">
            <h1 th:text="'Hello, ' + ${name} + '!'"/>
            <h1>Welcome</h1>
            <h1 th:text="'Your Role is: ' + ${role} + '!'" />

            <h1>This is your user portal, choose an action!</h1>
        </div>
    </div>

    <input type="hidden" id="userId" th:value="${userId}" th:placeholder="0">

        <div class="container2">
            <div class="center" style="text-align: center">
                <form action="#" method="post" th:action="@{/Click}">
                    <button type="submit">Enter App</button>
                </form>
            </div>
            <div class="center" style="text-align: center">
                <form id="upgradeForm" action="#" method="get" th:action="@{/Upgrade}">
                    <button th:text="${up}" onclick="upgradeUserRole()"></button>
                </form>
            </div>
            <div class="center" style="text-align: center">
                <form action="#" method="post" th:action="@{/confirm_delete}">
                    <button type="submit">Delete Account</button>
                </form>
            </div>
            <div class="center" style="text-align: center">
                <form action="#" method="post" th:action="@{/LogOut}">
                    <button type="submit">Log out</button>
                </form>
            </div>
        </div>
    </div>

</body>
<script>
    function upgradeUserRole() {
        $.ajax({
            type: "PUT",
            url: "https://demo4806.herokuapp.com/rest/api/user/upgrade/" + document.getElementById("userId").value,
            contentType : "application/json",
            dataType : 'json',
            success: function (data) {
                document.getElementById("upgradeForm").submit();
            },
            error: function (data) {
                alert("/upgrade failed somehow");
            }
        });
    }
</script>
</html>