<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap DataTable</title>

    <link th:rel="stylesheet" th:href="@{assets/datatable/datatables.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Thymeleaf - Bootstrap DataTable</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <h3>Datatable using list of Objects in data parameter</h3>
            <table id="example" class="table table-bordered table-responsive" style="width: 100%">
                <thead>
                <tr>
                    <th style="width:33%">Username</th>
                    <th style="width:33%">Role</th>
                    <th style="width:33%">Interactions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Interactions</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <!--
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <h3>Datatable using list of Arrays in data parameter</h3>
            <table id="exampleArray" class="table table-bordered table-responsive" style="width: 100%">
                <thead>
                <tr>
                    <th style="width:20%">Id</th>
                    <th style="width:30%">Name</th>
                    <th style="width:30%">Role</th>
                    <th style="width:20%">Interactions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Interactions</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    -->
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/datatable/datatables.js}"></script>
<!--<script th:src="@{assets/datatable/jquery.dataTables.min.js}"></script>-->

<script>
    var table = $('#example').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "/users",
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json",
            "data": function (d) {
                return JSON.stringify(d);
            }
        },
        "columns": [
            {"data": "username"},
            {"data": "role"},
            {"data": null, "defaultContent": "<button>Toggle Role</button>"}
        ],
    });

    $('#example tbody').on( 'click', 'button', function () {
        let data = table.row( $(this).parents('tr') ).data();
        console.log( data ); //TODO DEBUG
        alert( data["name"] +"'s role is: "+ data["role"] );
    } );

    /*
    $('#exampleArray').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "/employees/array",
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json",
            "data": function (d) {
                return JSON.stringify(d);
            }
        }
    });
    */
</script>

</body>
</html>